.topbar h3 img { margin-left: 5px; }
.clear { clear:both; }
.hero-unit { margin-top: 20px; }
.hero-unit img { float:left; margin-right:10px; }
.container { padding-top:60px; }
#container { margin-top:60px; }
#accordeon h3.active {
	background: #FFFFFF;
	color: rgb(84, 69, 69);
	border-bottom: 0;
	border-radius: 5px 5px 0 0;
	-moz-border-radius: 5px 5px 0 0;
	-o-border-radius: 5px 5px 0 0;
	-webki-border-radius: 5px 5px 0 0;
}
#accordeon h3 {
	text-align: center;
	cursor: pointer;
	border: 1px solid #DDDDDD;
	margin-top: 7px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	-webki-border-radius: 5px;
}
#accordeon h3:hover { background: #FFFFFF; color: rgba(230, 143, 0, 0.75); }
#accordeon div {
	border: 1px solid #DDDDDD;
	border-top: 0;
	border-radius: 0 0 5px 5px;
	padding-top: 10px;
}
form .recherche { margin-left: 15px; }
#signin { min-width: 250px; }
#signin input { margin: 10px; }
#signin .inputs-list label { float: left; cursor: pointer; }
#signin .inputs-list input { margin-left: 0px; margin-right: 10px; }
#signin .inputs-list span { color: white; }
#signin .btn { float: right; margin-bottom: 5px; margin-right: 5px; }
.menu.active { color: white; background: rgba(255, 255, 255, 0.05); }
.clearfix span { margin-left: 13px; margin-bottom: 5px; font-size: 11px; display: block; }
#messages { position:relative; left: 240px; max-width: 80%; }
.clearfix .error
{
	background-color: #FF9696;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-o-border-radius: 5px;
	-moz-border-radius: 5px;
	padding: 8px 0;
}
.clearfix .error .error-message
{
	margin-left: 330px;
	color: #E84F4A;
	font-weight: bold;
}

/* Style pour les maps */ 
.map { width:950px; height:626px; }
.map .overlay { width:950px; height:626px; }
.map img { position: absolute; top: 0; left: 0; z-index: 2; }
#mapSS { background: url(../img/map/mapSS.png) left top no-repeat; position: relative; }
#mapSS .overlay { background: url(../img/map/mapSS.png) 950px top no-repeat; position: absolute; top: 0; left: 0; z-index: 1; }
#mapRDC { background: url(../img/map/mapRDC.png) left top no-repeat; position: relative; }
#mapRDC .overlay { background: url(../img/map/mapRDC.png) 950px top no-repeat; position: absolute; top: 0; left: 0; z-index: 1; }
#map1 { background: url(../img/map/map1.png) left top no-repeat; position: relative; }
#map1 .overlay { background: url(../img/map/map1.png) 950px top no-repeat; position: absolute; top: 0; left: 0; z-index: 1; }
#map3 { background: url(../img/map/map3.png) left top no-repeat; position: relative; }
#map3 .overlay { background: url(../img/map/map3.png) 950px top no-repeat; position: absolute; top: 0; left: 0; z-index: 1; }

.map .tooltip {
	position: fixed;
	border-radius: 5px;
	color: #FFF;
	background: #000;
	padding: 0 10px;
	display: inline;
	top: 0;
	left: 0;
	z-index: 3;
	text-align: center;
	font-size: 1.2em;
}