/* topbar */
.topbar h3 img { margin-left: 5px; }
.topbar .notifs, .topbar .notifslien
{
	background-color: #666666;
	width: 25px;
	display: inline-block;
	text-align: center;
	margin-left: 5px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	-webkit-border-radius: 5px;
}
.topbar .secondary-nav .notifslien { margin-left: 4px; }
.topbar .separator {
	display: inline-block;
	height: 30px;
	width: 10px;
	background-color: #222222;
	background-image: -webkit-linear-gradient(top, #333, #222);
	background-image: linear-gradient(top, #333, #222);
	-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25),inset 0 -1px 0 rgba(0, 0, 0, 0.1)
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25),inset 0 -1px 0 rgba(0, 0, 0, 0.1)
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25),inset 0 -1px 0 rgba(0, 0, 0, 0.1);
}
.clear { clear:both; }
.right { float:right; }
img.right { margin-left : 20px; }
.block { display:block;}
.hero-unit { margin-top: 20px; }
.hero-unit img { float:left; margin-right:10px; }
.container { padding-top:60px; }
#container { margin-top:60px; }
/* Sidebar */
#accordeon h3:hover, #accordeonStage h3:hover { background: #FFFFFF; color: rgba(230, 143, 0, 0.75); }
#accordeon div, #accordeonStage div { border: 1px solid #DDDDDD; border-top: 0; border-radius: 0 0 5px 5px; padding-top: 10px; }
#accordeon h3.active, #accordeonStage h3.active {
	background: #FFFFFF;
	color: rgb(84, 69, 69);
	border-bottom: 0;
	border-radius: 5px 5px 0 0;
	-moz-border-radius: 5px 5px 0 0;
	-o-border-radius: 5px 5px 0 0;
	-webki-border-radius: 5px 5px 0 0;
}
#accordeon h3, #accordeonStage h3 {
	text-align: center;
	cursor: pointer;
	border: 1px solid #DDDDDD;
	margin-top: 7px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	-webki-border-radius: 5px;
}
/* autocomplete des messages */
.ui-autocomplete { max-height: 100px; overflow-y: auto; overflow-x: hidden; padding-right: 20px; width: 200px; border: 1px solid #DDDDDD; }
.ui-autocomplete.ui-menu { background-color: #DDDDDD; }/*  ui-widget ui-widget-content ui-corner-all */
.ui-autocomplete .ui-menu-item { width: 100%; }
/* barre de connexion */
form .recherche { margin-left: 15px; }
form select.input { margin-left: 150px; }
#signin { min-width: 250px; }
#signin input { margin: 10px; }
#signin .inputs-list label { float: left; cursor: pointer; }
#signin .inputs-list input { margin-left: 0px; margin-right: 10px; }
#signin .inputs-list span { color: white; }
#signin .btn { float: right; margin-bottom: 5px; margin-right: 5px; }
.menu.active { color: white; background: rgba(255, 255, 255, 0.05); }

/* Messages */
#messages { position:relative; left: 240px; max-width: 80%; }
#sort .id { display: none; }
.barre { text-decoration: line-through; }
.clearfix span { margin-left: 13px; margin-bottom: 5px; font-size: 11px; display: block; }
.clearfix .error .error-message { margin-left: 330px; color: #E84F4A; font-weight: bold; }
.clearfix .error {
	background-color: #FF9696;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-o-border-radius: 5px;
	-moz-border-radius: 5px;
	padding: 8px 0;
}
table td.clearfix { padding-left: 50px; }
table td.clearfix.error { background-color: #FF9696; color: #E84F4A; font-weight: bold; }
table td.clearfix.error input { border-color: #EE5F5B; color: #B94A48; }

/* Style pour les messages */
#sort #date { width: 130px; }
#sort #correspondant { width: 200px; }
#sort #actions { width: 300px; }
#messagerie #auteur-message { width: 200px; border-right: 1px solid #DDDDDD; }
#messagerie thead th { text-align: center; }
#messagerie tbody tr td:first-child { border-right: 1px solid #DDDDDD; }

/* Style pour les maps */ 
.map { width:950px; height:626px; }
.map .overlay { width:950px; height:626px; }
.map img { position: absolute; top: 0; left: 0; z-index: 2; }
#mapSS { background: url(../img/map/mapSS.png) left top no-repeat; position: relative; }
#mapSS .overlay { background: url(../img/map/mapSS.png) 950px top no-repeat; position: absolute; top: 0; left: 0; z-index: 1; }
#mapRDC { background: url(../img/map/mapRDC.png) left top no-repeat; position: relative; }
#mapRDC .overlay { background: url(../img/map/mapRDC.png) 950px top no-repeat; position: absolute; top: 0; left: 0; z-index: 1; }
#map1 { background: url(../img/map/map1.png) left top no-repeat; position: relative; }
#map1 .overlay { background: url(../img/map/map1.png) 950px top no-repeat; position: absolute; top: 0; left: 0; z-index: 1; }
#map2 { background: url(../img/map/map2.png) left top no-repeat; position: relative; }
#map2 .overlay { background: url(../img/map/map2.png) 950px top no-repeat; position: absolute; top: 0; left: 0; z-index: 1; }
#map3 { background: url(../img/map/map3.png) left top no-repeat; position: relative; }
#map3 .overlay { background: url(../img/map/map3.png) 950px top no-repeat; position: absolute; top: 0; left: 0; z-index: 1; }
.map .tooltip {
	position: fixed;
	border-radius: 5px;
	color: #FFF;
	background: #000;
	padding: 0 10px;
	display: inline;
	top: 0;
	left: 0;
	z-index: 3;
	text-align: center;
	font-size: 1.2em;
}
/* Pour les stages */
blockquote h3 { color:#0088bb; }
#accordeonStage h3 { text-align: left; padding-left:30px; padding-right:10px; }
#accordeonStage h3 span { display:inline-block; float:right; }

/* Pour les documents */
.dropfile {
	border: 3px dashed #CDCACA;
	margin-top: 50px;
	color: #ABA9A9;
	display: block;
	float: left;
	height: 128px;
	width: 128px;
	position: relative;
	margin-bottom: 6px;
	margin-right: 5px;
}
.dropfile .img { position: absolute; z-index: 10; width: 150px; height: 100px; background-color: #FFF !important; }
.dropfile .progress {
	position: absolute;
	left: 0; bottom: 0; right: 0;
	background-color: #498CFA;
	height: 0;
	color: #FFFFFF;
	font-weight: bold;
	text-align: center;
	z-index: 12;
}
.dropfile.hover { background-color: #D6D7E5; border-color: #3B7FED; }
.dropfile.hover .img { filter:alpha(opacity=30); opacity:0.3; }
.dropfile.hover .instructions { color:#3B7FED; }
.dropfile span.instructions {
	position: absolute;
	top: 50%; left: 0; right: 0;
	font-weight: bold;
	color: inherit;
	font-size: 11.7pt;
	height: 40px;
	margin-top: -21px;
	text-align: center;
	z-index: 9;
}
.dropfile img.delete { position: absolute; top: 0; right: 0; }
/* Info bulle */
.dropfile .infoFichier {
	position: absolute;
	top: -50px;
	left: 0;
	display: inline-block;
	height: 30px;
	width: 118px;
	padding: 5px;
	opacity: 0.80;
	color: white;
	background-color: black;
	-moz-border-radius: 5px;
	border-radius: 5px;
	text-align: center;
	vertical-align: middle;
}

/* lien edition dans liste */
li small.edit { font-size: x-small; }

/* Notes */
table.notes th { text-align: center; }
table.notes td.module, table.notes td.moyenne { text-align: center; vertical-align: middle; }
table.notes td.moyenne { border-right: 1px solid #DDDDDD; }
table.notes tr.notes td { text-align: center; }
table.notes tr.notes td.intitule { text-align: left; }


/* A SUPPRIMER A LA FIN DU PROJET */
.cake-debug { position: relative; top: 40px; }